body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(210, 205, 196);
}
.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.column {
    width: 320px; 
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.column h2 {
    text-align: center;
    font-size: 20px;
}

.column img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
}
